/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
    /* your custom style here */

    margin-right: 0.5rem !important;

}

.hljs-ln-n {
    margin-right: 0.5rem !important;
    font-style: italic;
    font-size: smaller;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}

@media (min-width: 992px) {
    .bl-lg-default {
        border-style: solid;
        border-width: 0px;
        border-left-width: 2px;
        border-color: #ddd;
    }
}

#code {
    border-radius: 0.5rem;
}

/* for separators */

.separators {
    display: block;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px gray;
    background-color: lightgray;
}