<p>
    Dans un programme Python exécuté en ligne de commande, l'instruction input
    permet de demander une entré à l'utilisateur.
    Input retourne systématiquement une chaîne de caractère.
</p>
<p>
    Dans ce programme, on demande son nom à l'utilisateur, puis on 
    affichera une salutation avec son nom.
</p>