<p>
    Ce programme sert à tester si un nombre est pair ou impair. Un nombre est pair
    s'il est un multiple de 2, c'est à dire si le reste de la division par 2 de 
    ce nombre est 0. Sinon, il est impair (le reste de la division par 2 est alors 1).
</p>
<ul>
    <li>
        ligne 3, input sert à demander un nombre à l'utilisateur et stocke la réponse dans la variable 
        nombre. Comme input retourne toujours une chaine de caractère, on transforme cette
        valeur en nombre immédiatement.
    </li>
    <li>
        ligne 5, on teste la parité du nombre
    </li>
    <li>
        ligne 6 et ligne 8, avant d'afficher le résultat, on prend bien soin
        de ne pas utiliser <b>n</b> mais <b>str(n)</b>. En effet,
        l'opérateur + fonctionne :
        <ul>
            <li>
                avec deux nombres (il les ajoute)
            </li>
            <li>
                avec deux chaînes de caractère (il les concatène (met bout à bout))
            </li>
            <li>
                mais il ne fonctionne pas avec un nombre et une chaîne de caractère
            </li>
        </ul>
        On transforme donc notre nombre en chaîne de caractère avec la fonction <b>str()</b>
        pour pouvoir faire la concaténation.
    </li>
    
</ul>