<p>
    Ce petit programme crée la liste des carrés des nombres de 0 à 9
</p>
<p>
    À la ligne 3, on crée une liste vide.
</p>
<p>
    Des lignes 5 à 8, il y a une boucle qui va remplir la liste
    en augmentant la valeur de i à chaque fois. Le append
    va ajouter le carré de i dans la liste. (la notation ** 
    sert pour les puissances)
</p>