<p>
    On peut parcourir une liste et appliquer une opération sur tous les éléments de la liste.
    Ce programme se contente d'afficher un par un tous les éléments de la liste
</p>
<p>
    Ligne 3, on définit la liste (qui est de longueur 4)
</p>
<p>
    Lignes 5 à 8, on fait une boucle while qui fait évoluer la
    valeur de i de 0 à 3 et affiche à chaque fois <b>liste[i]</b>
</p>
<p>
    le programme affichera donc :
    <i><br>
    pomme <br>
    banane <br>
    kiwi <br>
    orange <br></i>
</p>