<p>
    En python, comme dans la plupart des langages de programmation, il est très courant de devoir
    parcourir des listes pour appliquer une opération sur chaque élément. La boucle for est faite 
    pour cela
</p>
<p>
    À la ligne 5, on voit bien la syntaxe qui va parcourir toute la liste en affectant à la variable
    <b>element</b> chaque élément de la liste tour à tour
</p>
<p>
    le programme affichera donc :
    <i><br>
    pomme <br>
    banane <br>
    kiwi <br>
    orange <br></i>
</p>
<div class="alert alert-info">
    L'avantage de la boucle for sur la boucle while est sa concision.
    L'avantage de la boucle while est de disposer de l'indice de boucle 
    qui peut être utilisé
</div>
<div class="alert alert-warning">
    Attention ! Si vous avez pratiqué d'autres langages de programmation,
    la boucle for de Python correspond généralement à une fonction
    foreach qui s'applique sur une liste. Souvent, il existe aussi une boucle
    for qui ressemble plus au while de Python
</div>