<p>
    Définir une fonction, c'est définir un
    ensemble d'action qui sera exécuté lorsque l'on fera appel
    à la fonction. Dans ce programme, nous définissons une fonction
    qui fera la somme des carrés de 1 à n, n étant un entier à déterminer.
</p>
<p>
    À la ligne 3, nous définissons une fonction (grâce au mot clef <b>def</b>)
    qui a pour nom somme_carres. Cette fonction prendra un <i>argument</i>
    n qui sera le nombre jusqu'auquel on ira
</p>
<p>
    Dans la fonction, à la ligne 4, on initialise une variable somme à 0.
    les lignes 5 à 8 permettent de définir une boucle qui va commencer à 1,
    terminer à n, et à chaque passage ajouter n au carré à la somme
</p>
<div class="alert alert-danger">
    Attention ! concentré sur le carré, on pourrait avoir tendance à
    oublier la ligne <b>i = i + 1</b>. Cela aurait pour effet de
    créer une boucle infinie, i prenant toujours pour valeur 1 sans jamais
    changer, et la condition du while étant toujours vérifiée.
</div>
<p>
    À la ligne 10, la fonction renvoie la valeur de la somme. Cela signifie
    que lorsque l'on fera appel à la fonction, l'appel sera remplacé par
    la valeur renvoyée
</p>
<p>
    La ligne 14 va utiliser la fonction. <b>somme_carres(12)</b> est remplacé
    par 650 (qui est la somme des carrés de 1 à 12) et le programme affiche donc :
    <br>
    <i>
        la somme des carrés de 1 à 12 est :
        <br>
        650
    </i>
</p>