<p>
    On a vu que l'on pouvait répéter n fois une opération en utilisant
    la boucle while et un compteur. On peut aussi le faire très simplement
    grâce à range et la boucle for.
</p>
<p>
    Dans l'exemple ci contre, <b>range(5)</b> va créer la séquence des nombres de 0 à 4.
    La boucle sera donc répétée 5 fois, et le message sera bien affichée 5 fois.
</p>
<div class="alert alert-info">
    on notera que le nom de la variable utilisé pour la boucle for est le symbole souligné :
    <b>_</b> (underscore en anglais). C'est l'usage pour noter une valeur qui n'a pas 
    d'importance dans la suite du programme (et donc ne pas lui donner un nom)
</div>