<p>
    Dans les exemples précédents, on créait des listes par compréhension à partir 
    d'une liste existante. On peut aussi utiliser une séquence crée avec range pour 
    créer une liste par compréhension
</p>
<p>
    Dans l'exemple ci-contre, l'instruction <b>range(1,13)</b> va créer une séquence de 
    nombres entiers de 1 à 12
</p>
<p>
    La liste <b>carres</b> sera donc la liste des carrés des nombres de 1 à 12
</p>